<!--
  Generated template for the CatinPriaEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CatinPriaEdit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>No. KTP</ion-label>
      <ion-input placeholder="Isikan No. KTP" type="text" [(ngModel)]="catinPria.no_ktp"></ion-input>
    </ion-item>

    <ion-label>Foto KTP</ion-label>
    <img width="200" height="200" [src]="imgKtp"/>
    <button ion-button block (click)="fotoKtp()">Foto KTP</button>

    <ion-item>
      <ion-label stacked>Nama</ion-label>
      <ion-input placeholder="Isikan Nama" type="text" [(ngModel)]="catinPria.nama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Tanggal Lahir</ion-label>
      <ion-datetime placeholder="Atur Tanggal Lahir" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="catinPria.tanggal_lahir"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Agama</ion-label>
      <ion-select placeholder="Pilih Agama" type="text" [(ngModel)]="catinPria.agama">
        <ion-option value="Islam">Islam</ion-option>
        <ion-option value="Hindu">Hindu</ion-option>
        <ion-option value="Buddha">Buddha</ion-option>
        <ion-option value="Kristen">Kristen</ion-option>
        <ion-option value="Konghucu">Konghucu</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Pekerjaan</ion-label>
      <ion-select placeholder="Pilih Pekerjaan" [(ngModel)]="pekerjaanCb" (ionChange)="pekerjaanLainnyaOnChange()">
        <ion-option value="Wiraswasta">Wiraswasta</ion-option>
        <ion-option value="Pegawai Swasta">Pegawai Swasta</ion-option>
        <ion-option value="Pegawai Negeri Sipil">Pegawai Negeri Sipil</ion-option>
        <ion-option value="Mahasiswa">Mahasiswa</ion-option>
        <ion-option value="Lainnya">Lainnya</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="hideTbPekerjaan">
      <ion-label stacked>Pekerjaan Lainnya</ion-label>
      <ion-input placeholder="Isi Pekerjaan" [(ngModel)]="pekerjaanTb"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Alamat</ion-label>
      <ion-input placeholder="Isi Alamat" type="text" [(ngModel)]="catinPria.alamat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Provinsi</ion-label>
      <ion-select placeholder="Pilih Provinsi" [(ngModel)]="provinsiSelect" (ionChange)="LoadKabupaten()">
        <ion-option *ngFor="let provinsi of provinsis" [value]="provinsi.id">{{ provinsi.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Kabupaten</ion-label>
      <ion-select placeholder="Pilih Kabupaten" [(ngModel)]="kabupatenSelect" (ionChange)="LoadKecamatan()" [disabled]="kabupatenDisableSelector">
        <ion-option *ngFor="let kabupaten of kabupatens" [value]="kabupaten.id">{{ kabupaten.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Kecamatan</ion-label>
      <ion-select placeholder="Pilih Kecamatan" [(ngModel)]="kecamatanSelect" [disabled]="kecamatanDisableSelector">
        <ion-option *ngFor="let kecamatan of kecamatans" [value]="kecamatan.id">{{ kecamatan.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Wali Nikah</ion-label>
      <ion-input placeholder="Isi Nama Wali Nikah" type="text" [(ngModel)]="catinPria.wali_nikah"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Status</ion-label>
      <ion-input placeholder="Isi Status" type="text" [(ngModel)]="catinPria.status"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
